<a href="https://colab.research.google.com/github/cierrajohnsoncarter/StreetEasy-RentPrediction-MachineLearning/blob/master/streeteasy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the libraries

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Read the data

In [2]:
from google.colab import files
uploaded = files.upload()

Saving brooklyn.csv to brooklyn.csv

Load the data

In [5]:
streeteasy = pd.read_csv('brooklyn.csv')
df = pd.DataFrame(streeteasy)
df.head()

   rental_id  rent  bedrooms  ...  has_gym      neighborhood   borough
0       2869  3600       3.0  ...        0      Williamsburg  Brooklyn
1       4318  3900       3.0  ...        0         Greenwood  Brooklyn
2       6265  2700       2.0  ...        0           Gowanus  Brooklyn
3         24  4900       1.0  ...        0  Brooklyn Heights  Brooklyn
4       9481  3900       0.0  ...        0      Williamsburg  Brooklyn

[5 rows x 18 columns]

Define x and y

In [0]:
x = df[['bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway', 'floor', 'building_age_yrs', 
        'no_fee', 'has_roofdeck', 'has_washer_dryer', 'has_doorman', 'has_elevator', 
        'has_dishwasher', 'has_patio', 'has_gym']]

y = df[['rent']]

Define training/test set

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.8, test_size = 0.2, random_state=6)

Create a linear regression model

In [8]:
mlr = LinearRegression()
mlr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Use the model to predict the values from x_test

In [0]:
y_predict = mlr.predict(x_test)

See the model in action

In [10]:
sonny_apartment = [[1, 1, 620, 16, 1, 98, 1, 0, 1, 0, 0, 1, 1, 0]] # Values for each of the features in the data for Sonny's apatment

predict = mlr.predict(sonny_apartment) # Using the model to predict the rent price for Sonny's apartment

print("Predicted rent: $%.2f" % predict)

Predicted rent: $2059.95

According to the link below, this apartment is only $2,000

In [0]:
https://streeteasy.com/rental/2177438